nav{
    width: 100%;
    /*background: #333;*/
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 10;
} 

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav ul li .btn {
    background: transparent;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  transition: background-color 0.25s;
}

.nav-link.active {
  background-color: #266b4e;
}

.nav-link:hover {
  background-color: #266b4e;
}
