.article-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 700px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-title {
  margin: 0;
  font-size: 1.6rem;
  color: #266b4e;
}

.article-body {
  margin: 0;
  color: #333;
  line-height: 1.5;
}
